:root {
    --black: #100b0f;
    --main-clr: #011014;
    --sec-Clr: #086788;
    --alt-clr: #F8D112;
    --alt-clr-opac: rgba(248, 209, 18,.4);
    --Txt-bg-Clr: #fff;
    --black-2: #444;
    --border: .1rem solid rgba(255,255,255,.2);
    --box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    --notActive-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    --activeClip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);     
    --max-width: 1100px;
}
/* scrollbar */
::-webkit-scrollbar {
    width: 1rem;
}
::-webkit-scrollbar-track {
    background: var(--sec-Clr);
}
::-webkit-scrollbar-thumb {
    background: var(--alt-clr);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--alt-clr);
}
/* end of scrollbar */
*,::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    padding: 0;
    list-style: none;
}
a {
    color: var(--black);
    text-decoration: none;
}
a:hover {
    text-decoration: none!important;
}
button {
    outline: none;
    border: none;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding-top: 8rem;
    font-size: 62.5%;
}
svg {
    pointer-events: none;
}
img {
    max-width: 100%;
}
section,footer {
    width: 100%;
    padding: 4rem 2rem;

}
svg {
    pointer-events: none;
}
nav {
    padding: 1rem 2rem;
}
button {
    cursor: pointer;
}
nav button,
nav input{
    font-size: 1.8rem!important;
}
@media (max-width: 567px) {
    .search-input {
        width: 100%!important;
    }
}
/* reusable */
.section-wrapper,.nav-wrapper,.footer-wrapper {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
}
.all-btns {
    padding: .5rem 1rem;
    border: 2px solid var(--alt-clr);
    background-color: var(--alt-clr);
    color: var(--sec-Clr);
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 6px;
    /* transition .4s for major browsers */
    transition: .4s;
    /* transition .4s for safari 3.1 to 6.0 */
    -webkit-transition: .4s;
    /* transition .4s for opera 10.5 */
    -o-transition: .4s;
    /* transition .4s for firefox 4 */
    -moz-transition: .4s;
    cursor: pointer;
    font-size: 1.8rem;
}
.all-btns:hover,
.all-btns:focus {
    background-color: var(--alt-clr-opac);
    color: var(--main-clr);
}
section .title {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    text-align: center;
    gap: .5rem;
    text-transform: uppercase;
}
section .title span {
    width: 4rem!important;
    font-weight: bold;
    font-size: 2rem;
    background: rgba(255, 165, 0,.3);
    border-radius: 6px;
    color: var(--sec-Clr);
}
/* end of reusable */
body {
    overflow-x: hidden;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: var(--bodyColor);
    font-size: 1.8em;
}
.tab-content {
    min-height: 100dvh;
}
.nav-tabs li {
    background-color: var(--sec-Clr);
}
.nav-tabs li a {
    color: var(--alt-clr);
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.8rem;
}
/* header */
header {
    width: 100%;
    height: calc(100dvh - 40px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
header .header-content {
    position: relative;
    z-index: 1;
    text-align: center;
    background-color: rgba(255,255,255,.2);
    border-radius: 6px;
    padding: 2rem;
    width: 100%;
    
}
header .header-content h1 {
    font-size: 3.5rem;
    color: var(--alt-clr);
    margin-bottom: 1rem;
    max-width: 55rem;
    margin: 0 auto;
}
header .header-content p {
    font-size: 1.8rem;
    color: var(--Txt-bg-Clr);
    margin-bottom: 1rem;
    max-width: 65rem;
    margin: 0 auto;
    font-weight: bold;
}
/* end of header */
/* booking section */
.book .booking-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 5rem!important;
}
.book .booking-wrapper .img-box {
    width: 48%;
    min-height: 30rem;
    position: relative;
    height: 100%;
}
.book .booking-wrapper .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.book .booking-wrapper .booking-form {
    width: 48%;
    min-height: 30rem;
    box-shadow: var(--box-shadow);
    padding: 2rem 1rem;
    border-radius: 5px;
}
.book .booking-wrapper .booking-form h2 {
    margin-bottom: 2rem;
    text-transform: capitalize;
    color: var(--sec-Clr);
    font-weight: bold;
    text-align: center;
    font-size: 2.2rem!important;
}
/* media query for booking section */
@media (max-width: 768px) {
    .book .booking-wrapper {
        flex-direction: column;
    }
    .book .booking-wrapper .img-box {
        display: none;
    }
    .book .booking-wrapper .booking-form {
        width: 100%;
        padding: 2rem;
        text-align: center;
    }
}
/* end of media query for booking section */
/* end of booking section */
/* packages section */
.packages .packages-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
    gap: 2rem;
    margin-top: 5rem;
}
@media (min-width: 991px) {
    .packages .packages-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    }
}
.packages .packages-wrapper .package-box {
    box-shadow: var(--box-shadow);
}
.packages-wrapper .package-box .img-box {
    width: 100%;
    height: 20rem;
    overflow: hidden;
}
.packages-wrapper .package-box .img-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.packages-wrapper .package-box .content {
    padding: 1rem;
}
.packages-wrapper .package-box .location-wrapper {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1rem;
    color: var(--black-2);
}
.packages-wrapper .package-box p {
    margin-bottom: 1rem;
}
.packages-wrapper .package-box .start-wrapper {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.packages-wrapper .package-box .price-wrapper {
    margin-bottom: 1rem;
}
.packages-wrapper .package-box .price-wrapper h4 {
    font-size: 2rem;
    font-weight: 200;
}
.packages-wrapper .package-box .price-wrapper h4 small {
    font-size: 1.5rem;
}
/* end of packages section */
/* services section */
.services .service-text-wrapper {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}
.services .service-text-wrapper .service-box {
    max-width: 30rem;
}
.services .service-text-wrapper .service-box:hover {
    box-shadow: var(--box-shadow);
}
.services .service-text-wrapper * {
    margin-bottom: 1rem;
}
.services .service-text-wrapper .service-box h4 {
    font-size: 2rem;
    color: var(--sec-Clr);
}
.services .service-text-wrapper .service-box .service-icon {
    font-size: 2.3rem;
    color: var(--alt-clr);
}
.services .service-text-wrapper .service-box p {
    font-size: 1.6rem;
    height: 15rem;
    overflow-y: auto;
    margin-bottom: 0;
}
/* end of services section */
/* gallery section */
.gallery .gallery-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
    margin-top: 5rem;
}
@media (min-width: 991px) {
    .gallery .gallery-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }
}
.gallery .gallery-wrapper .gallery-box {
   padding: 1rem;
   box-shadow: var(--box-shadow);
   height: 25rem;
   position: relative;
   overflow: hidden;
}
.gallery-wrapper .gallery-box .img-box {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);

}
.gallery-wrapper .gallery-box .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery-wrapper .gallery-box .gallery-info-box {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    background: rgba(0,0,0,.8);
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateY(-150%);
    transition: .4s;
}
.gallery .gallery-wrapper .gallery-box:hover .gallery-info-box {
    transform: translateY(0);
}
.gallery-box .gallery-info-box h2 {
    color: var(--alt-clr);
    font-weight: bold;
    margin-bottom: 1rem;
}
.gallery-box .gallery-info-box p {
    margin-bottom: 1rem;
    color: var(--Txt-bg-Clr);
}
/* end of gallery section */
/* review section */
.review .review-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
    margin-top: 5rem;
}
.review .review-wrapper .review-box {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.review .review-wrapper .review-box .img-box {
    width: 7rem;
    height: 7rem;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1rem;
}
.review .review-wrapper .review-box .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.review .review-wrapper .review-box p {
    margin-bottom: 1rem;
    text-align: center;
    font-style: italic;
}
.review .review-wrapper .review-box .star-box {
    font-size: 1rem;
    color: var(--alt-clr);
}
/* end of review section */
/* contact section */
.contact .contact-wrapper {
    width: 100%;
    display: flex;
    gap: 2rem;
    margin-top: 5rem;
}
.contact .contact-wrapper .img-box {
    flex: 2;
}
.contact .contact-wrapper .img-box img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.contact .contact-wrapper .contact-form-box {
    flex: 3;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: 6px;
}
.contact .contact-wrapper .contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.contact .contact-wrapper .contact-form input:not([type="submit"]),textarea {
    border: none;
    outline: none;
    padding: 1rem;
    background: rgba(102, 102, 102,.1);
    resize: none;
}
.contact .contact-wrapper .contact-form .name-email-wrapper,
.contact .contact-wrapper .contact-form .num-sub-wrapper {
    width: 100%;
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}
.contact .contact-wrapper .contact-form .name-email-wrapper input,
.contact .contact-wrapper .contact-form .num-sub-wrapper input {
    width: 49%;
}
.contact .contact-wrapper .contact-form textarea {
    height: 10rem;
    margin-bottom: 2rem;
}
.contact .contact-wrapper .contact-form input[type="submit"] {
    display: block;
    width: 40%;
    cursor: pointer;
}
/* media query for contact section */
@media (max-width: 768px) {
    .contact .contact-wrapper {
        flex-direction: column;
    }
    .contact .contact-wrapper .img-box {
        max-width: 40rem;
        margin: 0 auto;
    }
    .contact .contact-wrapper .contact-form input[type="submit"] {
        margin: 0 auto;
    }
}
@media (max-width: 480px) {
    .contact .contact-wrapper .contact-form .name-email-wrapper, .contact .contact-wrapper .contact-form .num-sub-wrapper {
        flex-direction: column;
    }
    .contact .contact-wrapper .contact-form .name-email-wrapper input, .contact .contact-wrapper .contact-form .num-sub-wrapper input {
        width: 100%;
    }
}
/* end of media query for contact section */
/* end of contact section */
/* footer */
footer {
    background: var(--main-clr);
    color: var(--Txt-bg-Clr);
}
footer .footer-info-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
footer li {
    margin-bottom: 1rem;
}
footer li a {
    color: var(--Txt-bg-Clr);
}
footer h2 {
    margin-bottom: 1rem;
}
footer li a:hover {
    color: var(--alt-clr);
}
footer .about-box {
    flex: 1;
    margin-bottom: 2rem;
}
footer .branch-box {
    margin-left: 4rem;
    flex: 1;
    margin-bottom: 2rem;
}
footer .quick-links-box {
    flex: 1;
    margin-bottom: 2rem;
}
footer .follow-us-box {
    flex: 1;
    margin-bottom: 2rem;
}
footer .outro {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 2rem;
}
footer .outro span {
    color: var(--alt-clr);
}

@media (max-width: 768px) {
    footer .footer-info-wrapper {
        flex-direction: column;
    }
    footer .branch-box {
        margin-left: 0;
    }
}
/* end of footer */