{% load static %}
<doctype html>
    <head>
      <title>{% block title %} {% endblock %}</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Anystore is an online store where you can find all the products you need.">
    </head>
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/all.js' %}"></script>

    <body>
    {% block content %} {% endblock %}
   <!-- footer -->
   <footer>
    <div class="footer-wrapper">
        <div class="footer-info-wrapper">
            <div class="about-box">
                <h2>Anystore</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias nihil tenetur nesciunt totam cum.</p>
            </div>
            <div class="branch-box">
                <h2>branch locations</h2>
            <ul>
                <li>Accra</li>
                <li>Central</li>
                <li>legon</li>
                <li>lapaz</li>
            </ul>
        </div>
        <div class="quick-links-box">
            <h2>quick links</h2>
            <ul>
                <li>
                    <a href="#">help</a>
                </li>
                <li>
                    <a href="#book">terms and conditions</a>
                </li>
            </ul>
        </div>
        <div class="follow-us-box">
            <h2>follow us</h2>
            <ul>
                <li>
                    <a href="#n">facebook</a>
                </li>
                <li>
                    <a href="#n">instagram</a>
                </li>
                <li>
                    <a href="#n">twitter</a>
                </li>
                <li>
                    <a href="#n">linkedin</a>
                </li>
            </ul>
        </div>
        </div>
        <hr class="mt-0 mb-0" style="border: 1px solid; border-top: 1px solid rgba(0,0,0,.1);">
        <p class="outro">&copy; Copyright <span>Anystore </span> <span class="text-white" id="date"></span> | all rights reserved!</p>
    </div>
</footer>
<!-- end of footer -->
  <script src="{% static 'js/jquery.min.js' %}"></script>

  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script>
    $(document).ready(function(){
      $(function () {
        $('.tooltip-use').tooltip()
      })   
    });
  </script>
<script src="{% static 'js/main.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>     
<script src="{% static 'js/project.js' %}"></script>

  </body>

</html>
    