{% load static %}
<doctype html>
    <head>
      <title>{% block title %} {% endblock %}</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Anystore is an online store where you can find all the products you need.">
    </head>
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/all.js' %}"></script>

    <body>
    {% block content %} {% endblock %}
  

<!-- <!// footer which contains info links and also follow us links like facebook, twitter, instagram using bootstrap  -->

<footer class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase">Anystore</h5>
          <p>Here you can find all the products you need.</p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Links</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!">About</a>
            </li>
            <li>
              <a href="#!">Contact</a>
            </li>
            <li>
              <a href="#!">Help</a>
            </li>
            <li>
              <a href="#!">Terms and Conditions</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Follow Us</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!">Facebook</a>
            </li>
            <li>
              <a href="#!">Twitter</a>
            </li>
            <li>
              <a href="#!">Instagram</a>
            </li>
            <li>
              <a href="#!">Google+</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer -->
  <script src="{% static 'js/jquery.min.js' %}"></script>

  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script>
    $(document).ready(function(){
      $(function () {
        $('.tooltip-use').tooltip()
      })   
    });
  </script>
<script src="{% static 'js/main.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>     
<script src="{% static 'js/project.js' %}"></script>

  </body>

</html>
    